// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
code {
    background-color: var(--bs-gray-100);
    display: block;
    padding: 1rem 1.5rem;
    margin-top: 0.5rem;
}

pre {
    white-space: pre-wrap;
}

blockquote {
    padding: 1rem;
    border-left: 5px solid var(--bs-gray-300);
    font-style: italic;
}

blockquote p:last-child {
    margin-bottom: 0;
}

svg {
    &.bi {
        vertical-align: sub;
    }
}

.wpzaro-ratio-thumbnail {
    img {
        @include transition(all .5s ease);
    }
}

.ratio {
    img {        
		@extend .w-100;
		@extend .h-100;
        object-fit: cover;
    }
}

.floating-footer {
    @include transition(all .5s ease);
}

#wrapper-navbar {
    @include transition(all .5s ease);
    #main-nav {
        @include transition(all .5s ease);
    }
    &.fixed-top {
        &:not(.wrapper-navbar-scrolled) {
            #main-nav {
                background: transparent !important;
                @extend .shadow-none;
            }
        }
    }
}

body {
    &.wpzaro-pagetitle-hide {
        .entry-header {
            @extend .d-none;
        }
        .site-content {
            .wrapper {
                @extend .pt-0;
            }
        }
    }
    &.admin-bar {
        .wrapper-navbar-sticky {
            @media screen and (max-width: 768px) {
                &:not(.wrapper-navbar-scrolled) {
                    top: 46px;
                }
            }
        }
        &:not(.body-navbar-scrolled) {
            .offcanvas-header {
                padding-top: 4rem;
            }
        }
        @media screen and (min-width: 768px) {
            .wrapper-navbar-sticky {
                top: 32px;
            }
        }
    }
}

@media (max-width: 768px) {
    #primary {
        &.content-area {
            -webkit-order: -1;
            -ms-flex-order: -1;
            order: -1;
        }
    }
}

@media (min-width: 768px) {
    .col-md-20 {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%;
    }
}

@media (min-width: 992px) {
    .col-lg-20 {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%;
    }
}

[data-bs-theme="light"] {
    blockquote {
        background: var(--bs-gray-100);
    }
}